@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");



:root {
  /* Color Primary */
  --color-primary: #6366f1;
  --color-Gradient: linear-gradient(90deg,
      #6366f1 0%,
      #8b5cf6 50%,
      #d946ef 100%);

  /* Color grayscale */
  --color-gray900: #0b0f19;
  --color-gray800: #33354d;
  --color-gray700: #565973;
  --color-gray600: #9397ad;
  --color-gray500: #b4b7c9;
  --color-gray400: #d4d7e5;
  --color-gray300: #e2e5f1;
  --color-gray200: #eff2fc;
  --color-gray100: #f3f6ff;
  --color-white: #ffffff;

  /* System colors: */
  --color-system-error: #ef4444;
  --color-system-success: #22c55e;
  --color-system-warning: #ffba08;
  --color-system-info: #4c82f7;

  /* Buttons */
  --color-button-primary: border-radius: 8px;
  background: var(--Brand-Primary, var(--color-primary));
  --color-button-secondary: border-radius: 8px;
  background: var(--Gray-200, #EFF2cdFC);

  --container-padding: 1rem;
  --transition-time: all 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--color-gray900);
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-gray900);
  font-weight: 800;
  font-style: normal;
}

h1 {
  font-size: 40px;
  line-height: 130%;
}

h2 {
  font-size: 32px;
  line-height: 130%;
}

h3 {
  font-size: 28px;
  line-height: 130%;
}

h4 {
  font-size: 24px;
  line-height: 140%;
}

h5 {
  font-size: 20px;
  line-height: 140%;
}

h6 {
  font-size: 16px;
  line-height: 140%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--color-primary);
}

.background-gradient {
  background: radial-gradient(118% 116.18% at 50% 100%,
      rgba(99, 102, 241, 0.1) 0%,
      rgba(218, 70, 239, 0.05) 41.83%,
      rgba(241, 244, 253, 0.07) 82.52%);
}

.container {
  margin: 0 auto;
}

@media (min-width: 768px) {

  .container {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 768px;
  }

}

@media (min-width: 1296px) {

  .container {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1296px;
  }
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-block: 1rem;
  padding-inline: 1rem;
  gap: 1rem;

}

.features-menu {
  display: none;

}

@media (min-width: 1296px) {
  .features-menu {
    display: block;
  }
}

@media (min-width: 1296px) {
  .main-menu {
    display: block;
  }

}

@media (min-width: 768px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-block: 2rem;
    padding-inline: 2rem;
    gap: 1rem;
  }

}

@media (min-width: 1296px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-block: 2rem;
    padding-inline: 2rem;
    gap: 1rem;
  }

}

.mainlogo {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.mainlogo h2 {
  font-size: 21px;
  color: var(--color-gray900);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {

  .navigation {
    display: flex;
    align-items: left;
    gap: 4rem;
  }
}

@media (min-width: 1296px) {
  .navigation {
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navigation-tablet {
  display: flex;
  gap: 1rem;

}

.darkmode {
  display: none;
}

@media (min-width: 768px) {

  .darkmode {
    display: block;
    font-weight: 600;
  }
}

.toggle-switch {
  width: 46px;
  height: 24px;
  background-color: var(--color-gray600);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}

.toggle-circle {
  width: 20px;
  height: 20px;
  background-color: var(--color-white);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.2s ease;
}

.toggle-switch.active {
  background-color: var(--color-primary);
}

.toggle-switch.active .toggle-circle {
  left: 24px;
}

.hamburger {
  cursor: pointer;

  @media (min-width: 1296px) {
    display: none;
  }
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 8px;
  padding: 0.6rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: none;

  @media (min-width: 1296px) {
    display: block;
  }
}

.btn-moneytransfer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 160px;
  font-size: 14px;
}

.btn-moneytransfer i {
  margin-left: 1rem;
}

.btn-primary:hover {
  background-color: var(--color-gray600);
  color: var(--color-white);
  text-decoration: none;
}

.btn-primary i {
  margin-right: 0.5rem;
}

.hero-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "headline"
    "content";

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headline headline"
      "content images";
  }

  @media (min-width: 1296px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headline images"
      "content images";
    margin-top: 6rem;
    gap: 1rem;
  }
}

.hero-headline {
  grid-area: headline;

  h1 {
    font-size: 34px;
    line-height: 44px;
    margin-block: 26px;
    padding-inline: 45px;

    @media (min-width: 768px) {
      font-size: 45px;
      font-weight: 800;
      line-height: 58px;
      padding-inline: 10rem;
    }

    @media (min-width: 1296px) {
      font-size: 56px;
      line-height: 130%;
      text-align: left;
      padding-inline: 2rem;
      margin: 0;
    }

  }

}

.hero-content {
  grid-area: content;
  align-self: end;

  p {
    color: var(--color-gray700);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 2.5rem;
    padding-inline: 2rem;
    width: 350px;
    margin: 0 auto
  }

  @media (min-width: 768px) {
    text-align: left;

    p {
      margin: 0rem;
      padding-inline: 2.2rem;
      padding-block: 2rem;
    }
  }

  @media (min-width: 1296px) {
    text-align: left;

    p {
      margin: 0rem;
      padding-inline: 2.2rem;
      padding-top: 0rem;
      width: 550px;
    }
  }

}

.hero-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    margin-left: 2rem;

  }
}

.discover-more {
  color: var(--color-gray900);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem;

  @media (min-width: 768px) {
    justify-content: flex-start;
    margin-left: 2rem;
    margin-block: 3rem;
  }

  @media (min-width: 1296px) {
    justify-content: flex-start;
    margin-left: 2rem;
    margin-block: 10rem 3rem;

  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-images {
  position: relative;
  grid-area: images;
  display: none;
  overflow: hidden;

  @media (min-width: 768px) {
    display: block;
  }

  .image-back {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 65px;
    width: 85%;
    height: 85%;
  }

  .image-front {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: -65px;
    width: 100%;
    height: 100%;
  }

  @media (min-width: 1296px) {
    .image-back {
      position: absolute;
      z-index: 5;
      bottom: 0;
      right: 110px;
      width: 85%;
      height: 85%;
    }

    .image-front {
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: -130px;
      width: 100%;
      height: 100%;
    }
  }

}

.btn-download-app {
  background-color: var(--color-gray900);
  color: var(--color-white);
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}

.btn-download-app:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
}

.btn-mobile {
  background-color: var(--color-gray900);
  border-radius: 10px;
  width: 365px;
  height: 50px;
  cursor: pointer;
  border: none;

  @media (min-width: 768px) {
    background-color: var(--color-gray900);
    border-radius: 10px;
    width: 135px;
    height: 45px;
    cursor: pointer;
    border: none;
  }
}

.app-images {

  @media (min-width: 768px) {
    height: 75%;
    width: 75%;
  }
}

.android-btn-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple-btn-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-circle {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-white);
  color: var(--color-gray900);
}

.arrow-down-btn-grey {
  background-color: var(--color-gray100);
  border-radius: 1px solid;
  border: none;
  overflow: hidden;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.arrow-down-btn-blue {
  background-color: var(--color-primary);
  border-radius: 1px solid;
  border: none;
  overflow: hidden;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  box-shadow: 0px -8px 15px rgba(82, 48, 185, 0.2);
}

.logotypes-container {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2.5rem 1.5rem;
    gap: 1.5rem;
  }

  @media (min-width: 1296px) {
    gap: 1rem;
    padding-block: 4rem 1.5rem;
  }
}

.logotype-box {
  display: none;

  @media (min-width: 768px) {
    display: block;
    border: 1.5px solid var(--color-gray400);
    padding: 1.5rem 0.5rem;
    border-radius: 10px;
  }

  @media (min-width: 1296px) {
    padding: 1.5rem 0;
    padding-inline: 1.5rem;
  }
}

.logotype-box-desk {
  display: none;

  @media (min-width: 1296px) {
    display: block;
  }
}

#features {

  margin-block: 2rem 4.5rem;

  h2 {
    color: var(--color-gray900);
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 23px;
  }

  h3 {
    color: var(--color-gray900);
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
    text-align: left;
  }

  p {
    color: var(--color-gray700);
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    margin: 0px;
  }

  @media (min-width: 1296px) {
    h2 {
      font-size: 40px;
    }
  }
}

.features-grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas: "headline"
    "content";


  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headline headline"
      "content content";
  }

  @media (min-width: 1296px) {
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-areas: "images headline headline"
      "images content content"
      "images content content";
    margin-block: 4rem;
  }
}

.iphone12image {
  grid-area: images;
  display: none;

  @media (min-width: 1296px) {
    display: grid;
    align-items: left;

    .iphone12 {
      width: auto;
      height: 100%;
      margin-left: 1rem
    }
  }
}

.app-features-headline {
  grid-area: headline;

  @media (min-width: 1296px) {
    text-align: left;
  }
}

.features-card-container {
  display: grid;
  grid-area: content;
  justify-content: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

.features-card {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  width: 325px;
  margin-block: 1.2rem;
}

.features-card-logos {
  display: flex;
  border-radius: 8px;
  width: 60px;
  height: 60px;
  background-color: var(--color-gray100);
  align-items: center;
  justify-content: center;
}

.cards-text {
  text-align: left;
  color: var(--color-gray700);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 300px;
}

#information {
  background-color: var(--color-gray100);

  h2 {
    color: var(--color-gray900);
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  h3 {
    color: var(--color-gray900);
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 12px;
    padding-inline: 60px;
  }

  img {
    margin-bottom: 32px;
  }

  p {
    color: var(--color-gray700);
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 57px;
    padding-inline: 15px;
  }

  .information-mobiles-comntainer {

    @media (min-width: 1296px) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12rem;
    }
  }

  .centermobile {
    width: 202px;
    height: auto;
  }
}

.information-text-container {
  @media (min-width: 768px) {
    padding-inline: 5rem;
  }

  @media (min-width: 1296px) {
    padding-inline: 18rem;
  }
}

.information-h3-mobile {
  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1296px) {
    display: none;
  }
}

.information-h3-tablet {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1296px) {
    display: none;
  }
}

.information-h3-desktop {
  display: none;

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1296px) {
    display: block;
  }
}

.information-mobile-tablet {
  @media (min-width: 1296px) {
    display: none;
  }
}

.information-tablet-desktop {
  display: none;

  @media (min-width: 1296px) {
    display: block;
  }
}

.tablet-image {
  display: none;

  @media (min-width: 768px) {
    display: inline-block;
  }

  @media (min-width: 1296px) {
    display: inline-block;
  }
}


#moneytransfer {
  display: none;
  width: 1296px;
  margin-block: 5rem 7rem;

  h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 130%;
  }

  a {
    color: var(--color-white);
  }

  @media (min-width: 1296px) {
    display: grid;
  }
}

.money-transfer-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "textcontent1 images1"
    "images2 textcontent2";
  row-gap: 8rem;
}

.money-information1 {
  grid-area: textcontent1;
  width: 400px;
  height: 460px;
  text-align: left;
  align-content: center
}

.money-images1 {
  grid-area: images1;
  width: 400px;
  height: 400px;
  position: relative;
}

.money-images2 {
  grid-area: images2;
  width: 400px;
  height: 400px;
  position: relative;
}

.money-container {
  display: grid;
  grid-area: textcontent2;
  text-align: left;
  width: 500px;
  height: 500px;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "headline headline";
}

.money-information2 {
  grid-area: headline;
  align-content: center;
}

.moneytransfer-logos-container {
  width: 240px;
  height: 60px;
  margin-bottom: 1rem;
}

.moneytransfer-logos {
  display: grid;
  border-radius: 8px;
  width: 60px;
  height: 60px;
  background-color: var(--color-gray100);
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.money-checked-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
}

.money-checked-list li {
  background-image: url('/pictures/bx-check-circle.svg');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-left: 1.8rem;
  margin-bottom: 1rem;
}

.inner-image2-top {
  position: absolute;
  width: 330px;
  height: auto;
  bottom: 10px;
  right: -63px;
}

.inner-image1-top {
  position: absolute;
  width: 260px;
  height: 117px;
  bottom: -50px;
  right: -60px;
}

#stories {
  display: none;

  @media (min-width: 1296px) {
    display: flex;
    background-color: var(--color-gray100);
  }

  p {
    color: var(--color-gray700);
    padding-block: 1rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
  }

  .client-name {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-gray900);
    padding-block: 0rem;

  }

  .client-role {
    font-size: 14px;
    color: var(--color-gray600);
    padding-block: 0rem;
  }
}

.stories-container {
  display: flex;
  margin-block: 5rem;
}

.clients-headline {
  width: 500px;
  text-align: left;
}

.client-headline-box {
  width: 400px;
}

.testamonial {
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 4px 12px -1px rgba(19, 16, 34, 0.06), 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
  background-color: var(--color-white);
  width: 370px;
  height: auto;
  padding: 48px 24px 24px 24px;
  margin-inline: 1rem;
  text-align: left;
}

.client-info {
  display: flex;
  gap: 1rem;
}

.quote-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 44px;
  height: 44px;
  background-color: var(--color-primary);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -22px;
  left: 22px;
}



#faq {
  margin-block: 13px;

  h2 {
    color: var(--color-gray900);
    text-align: center;
    font-size: 25px;
    line-height: 32px;
  }

  h3 {
    color: var(--color-gray700);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    padding-block: 1.5rem 2rem;
  }


  .open-box-info {
    color: var(--color-gray700);
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    padding-bottom: 1rem;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 32px;
      line-height: 140%;
    }

    h4 {
      font-size: 16px;
    }
  }
}

.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faq-heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem 1.2rem;
  padding-inline: 2rem;

  @media (min-width: 768px) {
    align-items: center;
    text-align: center;
    display: flex;
    margin-inline: 10rem;
  }

}

.information-box-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-inline: 0.8rem;
  border: 1px solid var(--color-gray300);


  @media (min-width: 768px) {
    border: none;
    gap: 1rem;
  }
}

.hide-me-tablet {
  display: block;
  border-bottom: 1px solid var(--color-gray300);
}

@media (min-width: 768px) {
  .hide-me-tablet {
    display: none;
  }
}

.hide-me-mobile {
  display: none;
}

@media (min-width: 768px) {
  .hide-me-mobile {
    display: block;
  }
}

.information-box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-gray300);
  cursor: pointer;
  width: 100%;
  padding-inline: 1.2rem;
  padding-block: 1rem;

  h4 {
    color: var(--color-gray900);
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    text-align: left;
    margin-right: auto;
  }

  @media (min-width: 768px) {
    box-shadow: 8px 8px 12px 1px rgba(19, 16, 34, 0.06),
      0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);

    border-radius: 10px;
  }
}

.open-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  @media (min-width: 768px) {
    padding-bottom: 1.5rem;
  }

}

.information-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray300);
  cursor: pointer;
  width: 100%;
  padding-inline: 1.2rem;
  padding-block: 1rem;


  h4 {
    color: var(--color-gray900);
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    text-align: left;
    margin-right: auto;
  }

  p {
    color: var(--color-gray700);
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
  }

  @media (min-width: 768px) {
    box-shadow: 8px 8px 12px 1px rgba(19, 16, 34, 0.06),
      0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);

    border-radius: 10px;
  }

}

.buttons-container-faq {
  margin-left: auto;

  @media (max-width: 768px) {
    .hide-me-mobile {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .hide-me-tablet {
      display: none;
    }
  }
}


.information-box:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.information-box:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: none;
}


.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 50px;
  width: 160px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  overflow: hidden;
  border-radius: 10px;
  margin-block: 3rem;
  border: none;
}

.contact-btn:hover {
  background-color: #4c51bf;
}

.contact-btn:active {
  background-color: #3730a3;
}

.newsletter-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 1rem;
}

.newsletter-container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  background-color: var(--color-gray100);
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 2rem;

  img {
    height: auto;
    width: 78px;
  }

  h3 {
    font-size: 21.6px;
    font-weight: 800;
    line-height: 30.2px;
    padding-right: 1.5rem;
    text-align: left;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.subscribe-text {
  width: 200px;
}

.subscribe-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 2rem;
  padding-inline: 1rem;
  gap: 1.5rem;

}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  align-items: center;
  gap: 0;
}

.contact-form input[type="email"] {
  padding: 12px;
  width: 100%;
  max-width: 220px;
  height: 50px;
  border: 1px solid var(--color-gray400);
  border-radius: 10px;
  font-size: 1rem;
  border-right: none;
  border-radius: 10px 0 0 10px;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-primary);
  }
}

.contact-btn-subscribe {
  padding: 12px 24px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  max-width: 114px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0 10px 10px 0;
}

footer {
  p {
    color: var(--color-gray600);
    padding: 1.5rem 3rem;
  }
}