@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: #131022;
  background-color: white;
}

#wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 390px;
  /* border: solid #131022; */
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 11px 16px;
}

.mainlogo {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.mainlogo h2 {
  font-size: 20.8px;
  color: #131022;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.toggle-switch {
  width: 46px;
  height: 24px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-circle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease;
}

/* När knappen är aktiv */
.toggle-switch.active {
  background-color: #6366f1;
}

.toggle-switch.active .toggle-circle {
  left: 24px;
}

.hamburger {
  cursor: pointer;
}

#showcase {
  background: radial-gradient(
    118% 116.18% at 50% 100%,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(218, 70, 239, 0.05) 41.83%,
    rgba(241, 244, 253, 0.07) 82.52%
  );
}

.showcase-text1 {
  padding: 26px 45px 42px;
}

.showcase-text2 {
  padding: 0px 10px 42px;
}

.showcase-text h1 {
  font-size: 34.1px;
  font-style: normal;
  font-weight: 800;
  line-height: 44.38px;
}

.showcase-text2 h2 {
  color: #585c7b;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
}

.buttons {
  justify-content: center;
  align-items: center;
}

.btn-mobile {
  background-color: #131022;
  border-radius: 10px;
  width: 365px;
  height: 50px;
  cursor: pointer;
  border: none;
}

.android-btn-mobile {
  margin: 25px 11px 16px;
}

.apple-btn-mobile {
  margin-inline: 11px;
}

.arrow-down-btn {
  margin: 12px 11px 16px;
  background-color: white;
  border-radius: 1px solid;
  border: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

#features {
  height: auto;
  text-align: center;

  h2 {
    color: #131022;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 36.21px;
    margin-block: 36px 23px;
  }

  h3 {
    color: #131022;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    margin-bottom: 12px;
    text-align: left;
  }

  p {
    color: #585c7b;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    margin: 0px;
  }
}

.features-card-wrapper {
  display: flex;
  align-items: flex-start;
  width: auto;
  margin-block: 32px;
  padding-left: 12px;
}

.features-card-logos {
  border-radius: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  background-color: #f3f6ff;
  align-items: center;
  justify-content: center;
}

.features-text {
  padding-left: 24px;
}

.cards-text {
  text-align: left;
  color: #585c7b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 300px;
}

#information {
  background-color: #f3f6ff;

  h2 {
    color: #131022;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    margin-block: 64px 32px;
  }

  h3 {
    color: #131022;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 12px;
  }

  img {
    padding-bottom: 32px;
  }

  p {
    color: #585c7b;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 57px;
  }
}

#faq {
  h2 {
    color: #131022;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    margin-block: 44px 20px;
    padding-inline: 16px;
  }

  p {
    color: #585c7b;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 55px;
    padding-inline: 20px;
  }
}
