#contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  @media (min-width: 768px) {
    h2 {
      font-size: 32px;
      line-height: 140%;
    }

    h3 {
      text-align: center;
    }

    h4 {
      font-size: 16px;
      color: var(--color-headline);
    }
  }

  @media (min-width: 1296px) {
    width: 1296px;
    flex-direction: row;

    h1 {
      font-size: 40px;
      line-height: 140%;
      text-align: left;
      padding-block: 2rem;
    }

    h2 {
      font-size: 32px;
      line-height: 140%;
      text-align: left;
    }

    h3 {
      text-align: left;
      font-size: 24px;
    }

    h4 {
      font-size: 16px;
      text-align: left;
    }

    p {
      margin-block: 1rem;
    }

    i {
      margin: 1.5rem;
      font-size: 16px;
    }
  }
}

.circle {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-white);
  color: var(--color-gray900);
  font-size: 14px;
  flex-shrink: 0;
}

.contact-info-container {
  width: 420px;
}

.contact-card-container {
  display: flex;
  flex-direction: column;
}

.contact-card {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 400px;
  padding-block: 1rem;
}

.contact-text {
  padding-left: 1.5rem;
}

.consulation-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 3rem;
  margin: 1rem;
  background-color: var(--color-white);
  width: 600px;
  height: 700px;
  text-align: left;
  border-radius: 0.5rem;
  position: absolute;
  right: 38px;
  top: 0;
  box-shadow: 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1),
    0px 4px 13px -2px rgba(19, 16, 34, 0.06);

  h2 {
    margin-block: 5rem 2rem;
  }

  label,
  input,
  select {
    display: block;
    font-weight: 600;
  }

  input,
  select {
    width: 240%;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-block: 0.5rem;
    border: 1px solid var(--color-gray400);
  }

  label {
    margin-top: 1.5rem;
  }

  select {
    margin-bottom: 8rem;
    font-weight: 400;
    cursor: pointer;
  }

  button {
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 240%;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-block: 0.5rem;
    border: 1px solid var(--color-gray400);
    cursor: pointer;
  }
}

#contact-info {
  background-color: var(--color-white);
  display: flex;
}

.address-container {
  display: flex;
  margin-block: 14rem;
  text-align: left;
  gap: 5rem;
}

#map-info {
  display: flex;
  height: auto;
  width: 100%;
}
